.App {
  text-align: center;
  background-color: #575761;
  color: #D3D4D9;
  font-family: Tahoma, sans-serif;
}

html,
body {
  background: rgb(56,255,126);
  background: linear-gradient(90deg, rgba(56,255,126,1) 0%, rgba(34,198,193,1) 50%, rgba(16,152,247,1) 100%);
  color: #D3D4D9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #D3D4D9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: gray;
}

.App-link {
  color: lightblue;
  color: gray;
}

button {
  display: flex;
  border-radius: 10px;
  background-color: #1DB954;
  margin-top: 10px;
  margin-bottom: 10px;
  width: min(90vw, 900px);
  height: min(20vw, 450px);
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: min(4vw, 30px);
  margin-left: auto;
  margin-right: auto;
}

/* Add a background color to the top navigation */
.topnav {
  background-color: #1DB954;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  border-bottom: 3px solid black;
  z-index: 1000;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: min(3vw, 20px);
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #D3D4D9;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(0, 120, 60);
  color: white;
}

.topnav a.login {
  background-color: #1098F7;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: green;
  color: aliceblue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 120, 60);
  color: gray;
}

.artist-element {
  display: flex;
  position: relative;
  color: white;
  margin: auto;
  width: min(45vw, 200px);
  height: min(60vw, 300px);
  border: 5px whitesmoke;
  border-radius: 10%;
  opacity: 1;
  transition: opacity 500ms ease-in;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.8), 2px -2px 4px rgba(0, 0, 0, 0.8), -2px 2px 4px rgba(0, 0, 0, 0.8), 2px 2px 4px rgba(0, 0, 0, 0.8);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

.user-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: white;
  margin: auto;
  width: min(70vw, 700px);
  height: min(70vw, 700px);
  opacity: 1;
  transition: opacity 500ms ease-in;
  text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.8), 2px -2px 4px rgba(0, 0, 0, 0.8), -2px 2px 4px rgba(0, 0, 0, 0.8), 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.artist-name {
  font-size: min(3.5vw, 20px);
  text-transform: uppercase;
  margin-top: min(3vw, 20px);
  text-align: left;
  /* background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7); */
  /* width:min(45vw, 300px); */
  border-radius: 15px;
  margin-left: 15px;
  margin-right: auto;
  position:absolute;                
  top: 5px;                        
  left: 5px;  
  /* text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); */
  /* text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.8), 2px -2px 4px rgba(0, 0, 0, 0.8), -2px 2px 4px rgba(0, 0, 0, 0.8), 2px 2px 4px rgba(0, 0, 0, 0.8); */
}

.artist-description {
  position:absolute;                
  bottom: 5px;                        
  right: 5px;
  margin-left: 40px;  
  font-size: min(2.5vw, 15px);
  text-align: right;
  vertical-align: text-bottom;
  /* vertical-align: text-bottom; */
  text-transform: uppercase;
  border-radius: 15px;
  /* background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7); */
  /* text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); */
  /* text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.8), 2px -2px 4px rgba(0, 0, 0, 0.8), -2px 2px 4px rgba(0, 0, 0, 0.8), 2px 2px 4px rgba(0, 0, 0, 0.8); */
  /* width:min(45vw, 300px); */
}

.page-header {
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 30px;
  font-size: min(5vw, 40px);
  margin-top: 100px;
  margin-bottom: 5px;
  /* background-color: #D3D4D9; */
  color: white;
  text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.8), 2px -2px 4px rgba(0, 0, 0, 0.8), -2px 2px 4px rgba(0, 0, 0, 0.8), 2px 2px 4px rgba(0, 0, 0, 0.8);
}

img {
  border-radius: 50%;
  width: min(40vw, 400px);
  height: min(40vw, 400px);
  justify-content: center;
  position: relative;
  vertical-align: middle;
  align-items: center;
}

.icon {
  width: min(5vw, 50px);
  height: min(5vw, 50px);
  justify-content: center;
  position: relative;
  vertical-align: middle;
  align-items: center;
  filter: invert(100%);
}

.icon-preview {
  position:absolute;                
  bottom: 5px;                        
  left: 5px;  
  width: min(5vw, 45px);
  height: min(5vw, 45px);
  filter: invert(100%);
  background-color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(45vw, 200px), 1fr));
  gap: min(2vw, 30px) min(2vw, 30px);
  grid-template-areas:
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". .";
}

.grid-header {
  grid-area: header;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: min(5vw, 40px);
  margin-top: 100px;
  margin-bottom: 5px;
  /* background-color: #D3D4D9; */
  color: white;
  position: relative;
  text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.8), 2px -2px 4px rgba(0, 0, 0, 0.8), -2px 2px 4px rgba(0, 0, 0, 0.8), 2px 2px 4px rgba(0, 0, 0, 0.8);
}