.App {
  text-align: center;
  background-color: #575761;
  color: #D3D4D9;
  font-family: 'Times New Roman', Times, serif;
}

html,
body {
  background-color: #575761;
  color: #D3D4D9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #D3D4D9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: gray;
}

.App-link {
  color: lightblue;
  color: gray;
}

/* Add a background color to the top navigation */
.topnav {
  background-color: #1DB954;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #D3D4D9;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(0, 120, 60);
  color: white;
}

.topnav a.login {
  background-color: #1098F7;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: green;
  color: aliceblue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 120, 60);
  color: gray;
}

button {
  display: block;
  justify-content: center;
  text-align: center;
  margin: auto;
  height: 100px;
  width: 75%;
  color: black;
  background-color: rgb(0, 165, 0);
}

.artist-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: white;
  margin: auto;
  width: min(45vw, 300px);
  height: min(60vw, 450px);
  border: 5px whitesmoke;
  border-radius: 10%;
  background-color: #1098F7;
  opacity: 1;
  transition: opacity 500ms ease-in;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
}

.user-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: white;
  margin: auto;
  width: min(70vw, 700px);
  height: min(70vw, 700px);
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.artist-name {
  font-size: min(4vw, 30px);
  text-transform: uppercase;
  margin-top: min(4vw, 20px);
  text-align: left;
  /* background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7); */
  /* width:min(45vw, 300px); */
  border-radius: 15px;
  margin-left: 15px;
  margin-right: auto;
  /* text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); */
  text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.8), 2px -2px 4px rgba(0, 0, 0, 0.8), -2px 2px 4px rgba(0, 0, 0, 0.8), 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.artist-description {
  font-size: min(3vw, 20px);
  display: flex;
  text-align: right;
  margin-left: auto;
  margin-right: 15px;
  vertical-align: text-bottom;
  text-transform: uppercase;
  border-radius: 15px;
  /* background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7); */
  /* text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); */
  text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.8), 2px -2px 4px rgba(0, 0, 0, 0.8), -2px 2px 4px rgba(0, 0, 0, 0.8), 2px 2px 4px rgba(0, 0, 0, 0.8);
  margin-bottom: min(4vw, 20px);
  /* width:min(45vw, 300px); */
}

.page-header {
  justify-content: center;
  text-align: center;
  margin: auto;
}

img {
  border-radius: 50%;
  width: min(40vw, 400px);
  height: min(40vw, 400px);
  justify-content: center;
  position: relative;
  vertical-align: middle;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(45vw, 300px), 1fr));
  gap: min(5vw, 20px) min(5vw, 20px);
  grid-template-areas:
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". .";
}